### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given a list1 copy the list1 to another list2 and remove the element at index 6 and add it to the 2nd position and also, at the end of the list2, finally remove the last element from list 1

In [2]:
list1=[34, 54, 67, 89, 11, 43, 94]
list2=list1.copy()
list2

[34, 54, 67, 89, 11, 43, 94]

In [3]:
list2.remove(11)
list2

[34, 54, 67, 89, 43, 94]

In [7]:
list2.insert(2,11)
list2.remove(11)
list2

[34, 54, 11, 11, 67, 89, 43, 94]

In [17]:
list2.append(11)
list2

[34, 54, 11, 11, 67, 89, 43, 94, 11, 11]

In [18]:
list1.pop(6)
list1

[34, 54, 67, 89, 11, 43]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

In [19]:
firstl= [2, 3, 4, 5, 6, 7, 8]
secondl=[4, 9, 16, 25, 36, 49, 64]
firstl.extend(secondl)
result=set(firstl)
print(result)

{64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25}

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

In [21]:
testlist = [87, 52, 44, 53, 54, 87, 52, 53]
print(testlist)
ulist = list(set(testlist)) 
print(ulist)
tuple1=tuple(ulist)
print(tuple1)
print(min(tuple1))
print(max(tuple1))

[87, 52, 44, 53, 54, 87, 52, 53]
[44, 52, 53, 54, 87]
(44, 52, 53, 54, 87)
44
87

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [19]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

In [22]:
inp="welcome to Python"
words=list(inp)
print(*words)
print(len(words))

w e l c o m e   t o   P y t h o n
17

The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics

In [24]:
dict1={'physics': 80, 'math': 90, 'chemistry': 86}
print(list(dict1)[0])

physics