### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [26]:
list1=[34, 54, 67, 89, 11, 43, 94]
b=list1.remove(11)
list1

[34, 54, 67, 89, 43, 94]

In [27]:
list1.insert(2,11)
list1

[34, 54, 11, 67, 89, 43, 94]

In [28]:
list1.append(11)
list1

[34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a Python list you should be able to display Python list in the following order

The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

In [29]:
list2=[100, 200, 300, 400, 500]
list2.sort(reverse=True)
list2

[500, 400, 300, 200, 100]

## Exercise Question 3: Concatenate (join) two lists in the following order

The original list1: ['Hello ', 'take ']
The original list2: ['Dear', 'Sir']
The Expected result is: ['Hello ', 'take ', 'Dear', 'Sir']

In [30]:
list3=['Hello ', 'take ']
list4=['Dear', 'Sir']
list5=list3 + list4
list5

['Hello ', 'take ', 'Dear', 'Sir']

## Exercise Question 4: Add item 7000 after 6000 in the following Python List

The original list is: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
The expected list is: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [2]:
list8=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list8[2][2].append(7000)
list8

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the

The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

The original list is: [5, 10, 15, 20, 25, 50, 20]
The expected output is: [5, 10, 15, 200, 25, 50, 20]

In [31]:
list10=[5, 10, 15, 20, 25, 50, 20]
list10[3]=200
list10

[5, 10, 15, 200, 25, 50, 20]